<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmall.dao.UmsAdminRoleRelationMapper">
	
	<resultMap id="BaseResultMap" type="com.tmall.model.UmsAdminRoleRelation">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="admin_id" jdbcType="BIGINT" property="adminId" />
		<result column="role_id" jdbcType="BIGINT" property="roleId" />
	</resultMap>
	
	<insert id="insertUmsAdminRoleRelation" parameterType="com.tmall.model.UmsAdminRoleRelation" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO ums_admin_role_relation (admin_id, role_id) VALUES (#{adminId}, #{roleId})
	</insert>
	
	<delete id="deleteUmsAdminRoleRelationByAdminId" parameterType="java.lang.Long">
		DELETE FROM ums_admin_role_relation WHERE admin_id = #{adminId}
	</delete>
	
</mapper>