<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmall.dao.UmsAdminLogMapper">
  <resultMap id="BaseResultMap" type="com.tmall.model.UmsAdminLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="exception_detail" jdbcType="VARCHAR" property="exceptionDetail" />
    <result column="log_type" jdbcType="VARCHAR" property="logType" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="params" jdbcType="VARCHAR" property="params" />
    <result column="request_ip" jdbcType="VARCHAR" property="requestIp" />
    <result column="time" jdbcType="BIGINT" property="time" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
  </resultMap>
  
  <insert id="insertUmsAdminLog" parameterType="com.tmall.model.UmsAdminLog" useGeneratedKeys="true" keyColumn="id">
  	INSERT INTO ums_admin_log (
  		description,exception_detail,log_type,method,params,request_ip,time,create_time,creater
  	) VALUES (
  		#{description},#{exceptionDetail},#{logType},#{method},#{params},#{requestIp},#{time},#{createTime},#{creater}
  	)
  </insert>
  
</mapper>